@import url("styles/details.css");
@import url("styles/icons.css");
@import url("styles/loading.css");
@import url("styles/ripple.css");
@import url("styles/slider.css");
@import url("styles/timer.css");

:root {
	--accent-color: hsl(var(--base-hue) 17% 10%);
	--background-color: hsl(var(--base-hue) 16% 14%);
	--base-hue: 230deg;
	--border-color: hsl(var(--base-hue) 20% 25% / 50%);
	--text-color: hsl(0 0% 85%);
	accent-color: hsl(160deg 44% 44%);
	color-scheme: dark;
	scrollbar-color: hsl(var(--base-hue) 10% 50% / 50%) transparent;
}

::placeholder { color: hsl(var(--base-hue) 10% 50% / 50%) }

html { background-color: var(--background-color) }
body {
	color: var(--text-color);
	margin: .5rem;
	max-height: fit-content;
	overflow-y: auto;
	width: 200px;
}

a { color: unset }
a:not(:hover) { text-decoration: none }

footer {
	color: hsl(var(--base-hue) 10% 50% / 50%);
	font-size: .75em;
	margin-top: .25em;
	text-align: center;
	user-select: none;
}

#scan, .danger, .safe {
	color: hsl(0deg 0% 100% / 50%);
	transition: all 200ms;
}

#scan:hover { cursor: pointer }
#scan::before {
	aspect-ratio: 1;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M23 4C23 2.34315 21.6569 1 20 1H16C15.4477 1 15 1.44772 15 2C15 2.55228 15.4477 3 16 3H20C20.5523 3 21 3.44772 21 4V8C21 8.55228 21.4477 9 22 9C22.5523 9 23 8.55228 23 8V4Z' fill='hsl(0deg 0% 100% / 50%)'/%3E%3Cpath d='M23 16C23 15.4477 22.5523 15 22 15C21.4477 15 21 15.4477 21 16V20C21 20.5523 20.5523 21 20 21H16C15.4477 21 15 21.4477 15 22C15 22.5523 15.4477 23 16 23H20C21.6569 23 23 21.6569 23 20V16Z' fill='hsl(0deg 0% 100% / 50%)'/%3E%3Cpath d='M4 21C3.44772 21 3 20.5523 3 20V16C3 15.4477 2.55228 15 2 15C1.44772 15 1 15.4477 1 16V20C1 21.6569 2.34315 23 4 23H8C8.55228 23 9 22.5523 9 22C9 21.4477 8.55228 21 8 21H4Z' fill='hsl(0deg 0% 100% / 50%)'/%3E%3Cpath d='M1 8C1 8.55228 1.44772 9 2 9C2.55228 9 3 8.55228 3 8V4C3 3.44772 3.44772 3 4 3H8C8.55228 3 9 2.55228 9 2C9 1.44772 8.55228 1 8 1H4C2.34315 1 1 2.34315 1 4V8Z' fill='hsl(0deg 0% 100% / 50%)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6C11 5.44772 10.5523 5 10 5H6C5.44772 5 5 5.44772 5 6V10C5 10.5523 5.44772 11 6 11H10C10.5523 11 11 10.5523 11 10V6ZM9 7.5C9 7.22386 8.77614 7 8.5 7H7.5C7.22386 7 7 7.22386 7 7.5V8.5C7 8.77614 7.22386 9 7.5 9H8.5C8.77614 9 9 8.77614 9 8.5V7.5Z' fill='hsl(0deg 0% 100% / 50%)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 13C18.5523 13 19 13.4477 19 14V18C19 18.5523 18.5523 19 18 19H14C13.4477 19 13 18.5523 13 18V14C13 13.4477 13.4477 13 14 13H18ZM15 15.5C15 15.2239 15.2239 15 15.5 15H16.5C16.7761 15 17 15.2239 17 15.5V16.5C17 16.7761 16.7761 17 16.5 17H15.5C15.2239 17 15 16.7761 15 16.5V15.5Z' fill='hsl(0deg 0% 100% / 50%)'/%3E%3Cpath d='M14 5C13.4477 5 13 5.44772 13 6C13 6.55229 13.4477 7 14 7H16.5C16.7761 7 17 7.22386 17 7.5V10C17 10.5523 17.4477 11 18 11C18.5523 11 19 10.5523 19 10V6C19 5.44772 18.5523 5 18 5H14Z' fill='hsl(0deg 0% 100% / 50%)'/%3E%3Cpath d='M14 8C13.4477 8 13 8.44771 13 9V10C13 10.5523 13.4477 11 14 11C14.5523 11 15 10.5523 15 10V9C15 8.44772 14.5523 8 14 8Z' fill='hsl(0deg 0% 100% / 50%)'/%3E%3Cpath d='M6 13C5.44772 13 5 13.4477 5 14V16C5 16.5523 5.44772 17 6 17C6.55229 17 7 16.5523 7 16V15.5C7 15.2239 7.22386 15 7.5 15H10C10.5523 15 11 14.5523 11 14C11 13.4477 10.5523 13 10 13H6Z' fill='hsl(0deg 0% 100% / 50%)'/%3E%3Cpath d='M10 17C9.44771 17 9 17.4477 9 18C9 18.5523 9.44771 19 10 19C10.5523 19 11 18.5523 11 18C11 17.4477 10.5523 17 10 17Z' fill='hsl(0deg 0% 100% / 50%)'/%3E%3C/svg%3E");
	content: "";
	display: inline-block;
	height: calc(100% - 1em);
	inset: .5em;
	position: absolute;
	right: unset;
}

#scan.update-available::before { content: "Update" }
#scan.update-available:hover::before { content: "Click to update" }
#scan:hover:active, .danger:hover:active, .safe:hover:active { backdrop-filter: brightness(0.5) }

/* .danger { background-color: rgb(218, 34, 34, .2) !important } */
/* .danger { border: 1px solid rgb(218, 34, 34, .2) !important } */
.danger {
	accent-color: hsl(0 45% 49%);
	color: hsl(0 45% 49%) !important
}
.danger:hover { background-color: hsl(0 73% 30% / 10%) !important }
/* .danger-border, .danger.hover-border:hover { box-shadow: inset 0px 0px 1px 1px hsl(0 60% 20% / 1) } */
.danger.hover-border { border: 1px solid transparent }
.danger-border, .danger.hover-border:hover {
	border: 1px solid hsl(0 50% 20% / 75%);
	color: hsl(0 60% 40%);
}

.safe { background-color: rgb(0, 167, 8, .2) !important }

#paste:hover { cursor: pointer }
#paste::before {
	aspect-ratio: 1;
	height: calc(100% - 1em);
	inset: .5em;
	position: absolute;
	right: unset;
}

body > header {
	align-items: stretch;
	display: flex;
}

body > header > #sponsor,
body > header > [for="settings"] {
	aspect-ratio: 1;
	min-width: 2.5em;
}
body > header > #sponsor > svg,
body > header > [for="settings"] > [icon] {
	aspect-ratio: 1;
	height: 100%;
	transition: scale .2s ease;
	width: 100%;
}

body > header:hover > #sponsor > svg { scale: 1.2 }
body > header > #sponsor:hover > svg { scale: 1.35 }
body > header > #sponsor:hover:active > svg { scale: 1.1 }
body > nav {
	border-bottom: 1px solid var(--border-color);
	display: grid;
	font-family: roboto_medium, Arial, Helvetica, sans-serif;
	padding-bottom: .5em;
	margin-bottom: .5em;
}

body > nav:has(> :nth-child(4)) { grid-template-columns: repeat(2, 1fr) }

a.btn, button, details > summary, label {
	-webkit-user-select: none;
	background-color: transparent;
	border: none;
	border-radius: 8px;
	box-sizing: border-box;
	color: hsl(var(--base-hue) 100% 90% / 50%);
	display: block;
	overflow: hidden;
	padding: .6em .75em;
	position: relative;
	text-decoration: none;
	user-select: none;
}

a.tab, button.tab, details.tab > summary, details > summary.tab, label.tab {
	border-radius: 5px;
	color: hsl(var(--base-hue) 25% 75% / 50%);
	padding: .65em 1em;
	text-align: center;
	text-transform: capitalize;
	width: -webkit-fill-available;
}

details.tab > summary { list-style: none }
a:is(.btn, .tab):hover, button:hover, label:hover, details.tab > summary:hover, details > summary.tab:hover, .keybind:hover {
	backdrop-filter: brightness(0.8);
	/* background:rgba(0, 0, 0, .2); */
	cursor: pointer;
}

dialog[data-id] {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

dialog {
	background-color: var(--background-color);
	border: none;
	border-radius: 1em;
	box-shadow: 0 0 .5em 0 hsl(var(--base-hue) 16% 7%);
	min-width: 150px;
}

dialog::backdrop { background-color: hsl(0 0% 0% / 25%) }
dialog > *, dialog button { width: 100% }
dialog > form:last-child { margin-top: .4em }

#email-container {
	background-color: #181a21;
	border-top: 1px dashed var(--border-color);
	border: 2px dashed var(--border-color);
	border-radius: .75em;
	/*padding: .25em;*/
}

#email-container:not(:has(> .secret))::before {
	color: hsl(var(--base-hue) 10% 50% / 50%);
	content: "No recent verification codes found";
	display: block;
	padding: .5em;
}

#app-container > dialog > .app { margin-bottom: .5em }
#app-container > dialog > .app > img,
#app-container > dialog > .app > .timer{
	max-height: 2.5em;
	max-width: 2.5em;
}

#app-container > dialog > .app > .metadata > [data-name=issuer] { font-weight: bolder }
#app-container > dialog > .app > .metadata > [data-name=timestamp] {
	color: gray;
	font-size: smaller;
}

#app-container > dialog > .app > :has(> .delete-icon) {
	height: 1.15em;
	margin-left: auto;
	width: 1.15em;
}

#app-container > dialog > [data-name=uid] {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* #app-container > dialog > :is([data-name], :not(.app) [data-name])::before {
	content: attr(data-name);
	color: hsl(0 0% 50% / 75%);
} */

.code-container {
	align-items: center;
	background-color: hsl(var(--base-hue) 16% 8% / 75%);
	border-radius: .5em;
	box-sizing: border-box;
	display: flex;
	gap: .75em;
	justify-content: space-between;
	padding: .15em .15em .15em .8em;
}

.code-container > [data-name="code"] {
	font-family: monospace;
	min-width: max-content;
	width: 50%;
}

input[type="text"] {
	background-color: hsl(var(--base-hue) 16% 10%);
	border: none;
}

input[type="text"]:focus {
	background-color: hsl(var(--base-hue) 16% 12%);
	outline: 2px solid var(--text-color);
}

.notification { padding-right: 2em }
.notification::after {
	background-color: crimson;
	border-radius: 0.25em;
	bottom: 0;
	color: var(--text-color);
	content: "!";
	font-size: .75em;
	font-weight: 800;
	height: 1rem;
	margin: auto;
	max-height: -webkit-fill-available;
	opacity: 0.8;
	padding: 0 .3em;
	position: absolute;
	right: .4em;
	top: 0;
}

:disabled, .disabled {
	-webkit-user-select: none;
	opacity: .5;
	pointer-events: none;
	user-select: none;
}

label > * { vertical-align: middle }
label:hover, button:hover, details.tab > summary:hover, details > summary.tab:hover, .keybind:hover {
	backdrop-filter: brightness(0.8);
	/* background:rgba(0, 0, 0, .2); */
	cursor: pointer;
}

label input:not(.override-pointer-events):not(input[type="text"]) {
	pointer-events: none;
	touch-action: none;
}

/* rotate animation */
label > input[type="checkbox"] {
	transition: rotate .2s ease, scale .25s ease;
	will-change: rotate, scale;
}

label > input[type="checkbox"]:not(:checked) {
	rotate: 90deg;
	scale: .85;
}

label:has(> input[type="range"]) > [counter]::after {
	content: attr(counter);
	float: right;
	font-size: smaller;
}

#app-container:not(:has(> .secret))::before {
	color: hsl(var(--base-hue) 10% 50% / 50%);
	content: "No secrets found";
	display: block;
	padding: .5em;
}

.secret {
	align-items: center;
	display: flex;
	gap: .5em;
	justify-content: space-between;
	padding: .5em;
	position: relative;
	user-select: none;
}

.app {
	align-items: center;
	display: flex;
	gap: .75em;
	max-width: 100%;
	overflow: hidden;
}

.app > .metadata {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.secret > .app > img:first-child { border-radius: 25% }
.secret > .app > :is(.timer, img):first-child {
	--size: 2em;
	height: var(--size);
	min-height: var(--size);
	min-width: var(--size);
	width: var(--size);
}

.secret > .app > img.errored,
.secret > .app > .timer img[src="icons/web-full.svg"] { opacity: .5 }
.secret > .app > .metadata > * {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.secret > .app > .metadata > .account {
	color: hsl(var(--base-hue) 10% 60% / 75%);
	font-size: .9em;
}

.secret > .app > .metadata > .issuer:empty::before {
	color: gray;
	content: "Unknown";
}

.secret > .code {
	color: hsl(var(--base-hue) 10% 60% / 75%);
	font-family: monospace;
	font-size: 1.35em;
	font-weight: bold;
	min-width: fit-content;
	width: fit-content;
}

.action-row {
	display: inline-flex;
	gap: .15em;
}

.secret > .action-row {
	background-image: linear-gradient(to left, var(--background-color) 85%, transparent);
	position: absolute;
	right: 0;
}

#email-container > .secret > .action-row {
	background-image: linear-gradient(to left, #181a21 85%, transparent);
}

.secret:hover > .code,
.secret:not(:hover) > .action-row { display: none }

hr {
	background-color: var(--border-color);
	border: none;
	height: 1px;
	width: 100%;
}